body {
    font-family: calibri;
}

.divs {
    width: 390px;
    display: none; 
    text-align: center;
    margin-top: 5px;
}

.actionBtn {
    width: 250px;
    margin: 5px;
}

.buttons {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    padding: 10px 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    width: 350px;
}
.buttons:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.buttons:active {
    border-top-color: #1b435e;
    background: #1b435e;
}